<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authorizations - Login</title>
</head>

<body>
    <div class="container">
        <div class="left">
            <div class="left-header">
                <h2>Authorizations</h2>
            </div>

            <form autocomplete="off" action="/interaction/<%= uid; %>/confirm" method="post">
                <ul>
                    <% for(const scope of params.scope.split(' ')) { %>
                        <li><%= scope %></li>
                    <% } %>
                </ul>
                <button type="submit">Approve</button>
                <button type="submit" name="reject" value="true">Deny</button>
            </form>
        </div>
    </div>
</body>

</html>
